body{
    font-family: Cochin bold;
    background: url(Background-Image.png);
    color: white;
    text-align: center;
}


.flavors button{
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}

#jord{
    background:red;
    color:white;
}

#van{
    background:khaki;
}

#blå{
    background:navy;
    color:white;
}

#bring{
    background:pink;
}

.payments button{
    display:block;
    margin:25px auto;
    padding:15px 30px;
    background:black;
    color:white;
    border:none;
    border-radius:10px;
}

.vipps{
    height: auto;
    width:200px;
    margin-left: 275px;
    padding:20px;
    border-radius:20px;
}