body{
    background-size:100%;
    background-image:url(Background-Image.png);
    background-repeat: no-repeat;
}

.Box {
  margin-top:2%;
  width: 90%;
  padding: 10px 15px;
  border: 2px solid black;
  border-radius: 10px;  
  font-size: 16px;
  margin-bottom: 15px;
  background-color: white;
  margin-right: 10%;
  margin-left:3%;
}

.Box-Text{
    font-size: x-large;
    color: white;
}