body{
    background-image:url(Background-Image.png);
    background-size:100%;
    background-repeat: no-repeat;
}

.Box {
  margin-top:2%;
  width: 90%;
  padding: 10px 15px;
  border: 2px solid black;
  border-radius: 10px;  
  font-size: 16px;
  margin-bottom: 15px;
  background-color: white;
  margin-right: 10%;
  margin-left:3%;
  color:black;
}

.Box::placeholder {
  color: black;
  font-weight: bold;
  opacity: 1;
}

.Box:focus {  
  border: 2px solid #cfd3cf;  
  outline: none;  
}


.choice{
    flex-direction: column;
    display: inline-flex;
    height: 220px;
    width: 200px;
    font-size: 17px;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    margin-top: 12%;
    margin-left: 0.5%;
    background: linear-gradient(to bottom, #000000, #b1aeae);
    border-radius: 8px;
    border: 1px solid #1a1a1a;

    transition: linear-gradient 0.3s ease,background-color 0.3s ease, border 0.3s ease;
}

.choice:hover {
    background: linear-gradient(to bottom, gold, #000000);
    border:1px solid
    rgb(255, 255, 255);
}

.choice img{
    height: 120px;
    width: auto;
}

.choice p{
  color: white;
  margin-top: 20px;
}

/* KANTINE MENU IMAGE */

.kantine-menu{
    position:absolute;
    right:5%;
    top:20%;
    width:25%;
    padding:1%;
    background:white;
    border-radius:12px;
    border:4px solid black;
}

.kantine-menu img{
    width:100%;
    height:auto;
}

.products{
    display:flex;
    flex-wrap:wrap;
    max-width:660px;
    margin-left:8%;
    gap:20px;
}
