body{
    background-size:100%;
    background-image:url(Background-Image.png);
    background-repeat: no-repeat;
}

span{
  margin-top: 6%;
  margin-left: 30%;
  font-size: 40px;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.full-før-btn {
    display: inline-flex;
    height: 65px;
    width: 240px;
    font-size: 35px;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    margin-top: 24%;
    margin-left: 40%;
    background: linear-gradient(to bottom, #3a3a3a, #000000);
    border-radius: 80px;
    border: 1px solid #1a1a1a;

    transition: linear-gradient 0.3s ease,background-color 0.3s ease, border 0.3s ease;
}

.full-før-btn:hover {
    background: linear-gradient(to bottom, #4a4a4a, #ba6c6c);
    background-color: #b6b6b6;
    border:1px solid white;
}


.Box {
  margin-top:1%;
  width: 90%;
  padding: 10px 15px;
  border: 2px solid black;
  border-radius: 10px;  
  font-size: 16px;
  margin-bottom: 15px;
  background-color: white;
  margin-right: 10%;
  margin-left:3%;
  color: black; 
}

.Box::placeholder {
  color: black;
  font-weight: bold;
  opacity: 1;
}

.Box:focus {  
  border: 2px solid #cfd3cf;  
  outline: none;  
}